<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
	<script src="/webjars/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
	<style>
	    body {
		   	display: flex;
			flex-direction: column;
			min-height: 100vh;
	        text-rendering: optimizeLegibility;
	        justify-content: center;
    	}
    </style>
    <title>Profile Pages</title>
</head>
<body>