<div th:replace="fragments/header.html"></div>
<div th:replace="fragments/navigation.html"></div>

	<div class="container">
		<h1>Update Expense Details</h1>
		<div class="row pt-3">
		<form th:action="@{/accounts/user/payments/update}" method="post" th:object="${paymentDTO}">
		
			<fieldset class="mb-3"> 
			<label>Description:</label>
				<input type="text" placeholder="Mechanical Engineering Book" required="required" th:field="*{name}"/>
				<div class="text-warning" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
			</fieldset>
			
			<fieldset class="mb-3"> 
			<label>Method:</label> 
				<input type="text" placeholder="Cash" required="required" th:field="*{method}"/>
				<div class="text-warning" th:if="${#fields.hasErrors('method')}" th:errors="*{method}"></div>
			</fieldset>
			
			<fieldset class="mb-3"> 
			<label>Amount:</label>
				<input type="text" placeholder="59.99" required="required" th:field="*{amount}"/>
				<div class="text-warning" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></div>
			</fieldset>
			
			<fieldset class="mb-3"> 
			<label>Status:</label>
				<select th:field="*{status}">
					<option th:value="'true'" th:text="Paid"></option>
					<option th:value="'false'" th:text="Pending"></option>
				</select>
			</fieldset>
					
			<fieldset class="mb-3"> 
			<label>Date:</label>
				<input type="date" required="required" th:field="*{date}"/>
				<div class="text-warning" th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></div>
			</fieldset>
			
			<input type="hidden" th:field="*{id}"/>
				
			<input type="submit" class="btn btn-success" value="Update Expense"/>		
		</form>
		</div>
	</div>
	
<div th:replace="fragments/footer.html"></div>